{% extends 'base.html' %} {% block content %}

<div class="container" style="width: 100%;padding: 5%;padding-top: 0">
    <div class="row" style="width: 100%;">
        <div class="container" style="text-align: center"><h1 style="font-size: 6.5em;margin-bottom: 30px;">จัดการสอบ</h1></div>
        <div class="jumbotron col-sm-8 well well-lg" style="background: #ffffff;text-align: center;">
            <h1 style="color: #353b48;font-size: 4em;">การสอบโปรเจคภาคเรียนที่ 1 ปีการศึกษา 2560</h1>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#upload_file" style="background: #ffffff;text-align: center">
                    <h4 class="panel-title" style="color: #353b48;font-size: 1.5em">
                        <label style="font-size: 1.3em"><u>อัพโหลดไฟล์</u></label>
                        <label style="font-size: 1.3em">ตารางสอบ</label>
                    </h4>
                </div>
            </div>
            <div id="upload_file" class="panel-collapse collapse">
                <form action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">ไฟล์: </label>
                        <div class="col-md-8">
                            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                        </div>                    
                    </div>
                    <div class="form-group">                    
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>อัพโหลด </button>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#export_file" style="background: #ffffff;text-align: center">
                    <h4 class="panel-title" style="color: #353b48;font-size: 1.5em">
                        <label style="font-size: 1.3em"><u>ส่งออกไฟล์</u></label>
                        <label style="font-size: 1.3em">ตารางสอบ</label>
                    </h4>
                </div>
            </div>
            <div id="export_file" class="panel-collapse collapse">
                <form action="{% url 'export_csv' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary"> <h3 style="margin: 0"><span class="glyphicon glyphicon-export" style="margin-right:5px;font-size: .5em"></span>ส่งออกไฟล์</h3> </button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
        <div class='container col-sm-12' style="background-color: #dfe6e9;text-align: center;">
            <h4>
                <label for="sel1">จำนวนโปรเจคที่เหลือ :</label>
                {% for pc in proj_count %}
                    <span style="font-size: 1.7em">BI : {{pc.bi}}  | </span>
                    <span style="font-size: 1.7em">DS : {{pc.ds}}  | </span>
                    <span style="font-size: 1.7em">ES : {{pc.es}}  | </span>
                    <span style="font-size: 1.7em">MU : {{pc.mu}}  | </span>
                    <span style="font-size: 1.7em">NW : {{pc.nw}}  | </span>
                    <span style="font-size: 1.7em">SE : {{pc.se}} </span>
                {% endfor %}
            </h4>
        </div>
        
        <table class='table table-bordered table-striped col-md-8' style="text-align: center">
            <tr>
                <th style="text-align: center"><h4 style="font-size: 2.3em">วันที่</h4></th>
                <th> </th>
                {% for room in rooms%}
                    <th style="text-align: center"><h4 style="font-size: 2em">{{room}}</h4></th>
                {% endfor %}
            </tr>
            {% for key, values in room_period.items %}
                <tr>
                    <td rowspan="2"><h4 style="font-size: 1.3em">{{key}}</h4></td>
                    <td><h4 style="font-size: 1.3em">ช่วงเช้า</h4></td>
                    {% for i in values.0%}
                        <td><h4 style="font-size: 1.3em">{{i}}</h4></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><h4 style="font-size: 1.3em">ช่วงบ่าย</h4></td>
                    {% for i in values.1%}
                        <td><h4 style="font-size: 1.3em">{{i}}</h4></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form action="{% url 'manage_room' %}" method="POST" id="generate_form" style="margin-left: 100px;margin-top: 260px">
            {% csrf_token %}
            <div class='col-md-5'>
                <div class="form-group">
                    <label for="sel1">เลือกวันที่ :</label>
                    <input type="text" class="form-control" name="date_selected" style="font-size: 2em"/>
                </div>
            </div>
            {% block javascript %} 
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('input[name="date_selected"]').datepicker({
                            startDate: new Date(),
                            singleDatePicker: true,
                            showDropdowns: true,
                            format: 'dd/mm/yyyy'
                            }).datepicker("setDate", new Date());
                    });
                </script>
            {% endblock %}
            <div class='col-md-5'>
                <div class="form-group">
                    <label for="sel1">เลือกช่วงเวลา :</label>
                    <select class="form-control" name="period_selected" style="font-size: 1.3em">
                        <option value="0">ช่วงเช้า</option>
                        <option value="1">ช่วงบ่าย</option>
                    </select>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <label for="sel1">เลือกห้อง:</label>
                    <select class="form-control" name="room_selected" style="font-size: 1.3em">
                        {% for room in rooms %}
                            <option value={{room.id}}>{{room.room_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <label for="sel1">เลือกแขนง:</label>
                    <select class="form-control" name="major_selected" style="font-size: 1.3em">
                        {% for major in majors %}
                            <option value={{major.id}}>{{major.major_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <form action="{% url 'manage' %}" method="POST" id="reset_form" style="margin-left: 100px;padding-bottom: 50px;">
        {% csrf_token %}
        <div class="row" style="margin-left: 70%;margin-top: 30px">
            <div class='col-md-5'>
                <button type="submit" class="btn btn-danger" form="reset_form" name="reset_gen" value="1"><h4 style="font-size: 2em">Reset</h4></button>
            </div>
            <div class='col-md-5'>
                <button type="submit" class="btn btn-success" form="generate_form"><h4 style="font-size: 2em">Generate</h4></button>
            </div>
        </div>
    </form>



</div>
{% endblock %}