{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron" >
            <h2>ผลคะแนน ภาคเรียนที่ 1 ปรการศึกษา {{this_year}}</h2>
            <h3>ชื่อโปรเจค : {{proj_name}}</h3>
            <table class="table table-hover" style="margin-top: 50px;background-color:cornsilk">
                <thead>
                <tr style="background-color: slategray;color: aliceblue">
                    {% for col_name in col_de%}
                    <th style="text-align: center"><h4>{{col_name}}</h4></t>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for data in result%}
                    <tr>
                        {% for i in data%}
                        <td>{{i}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover" style="margin-top: 50px;background-color:cornsilk;margin-top: 100px;">
                <thead>
                <tr style="background-color: slategray;color: aliceblue">
                    {% for col_name in col_de2%}
                    <th style="text-align: center"><h4>{{col_name}}</h4></t>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for data in result2%}
                    <tr>
                        {% for i in data%}
                        <td style="text-align: center;">{{i}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}