{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="container" style="text-align: center"><h1 style="font-size: 6.5em;">FACET</h1></div>
        <div class="jumbotron" style="padding: 15%;padding-top: 5%;padding-bottom: 10%">
            <form action="{% url 'export_script' %}" method="post" name="export_script" >
                {% csrf_token %} 
                <h2 class="col-sm-10" style="margin-top: 0;font-size: 3.5em">ส่งออกสคริป</h2>
                <button class="btn btn-primary col-sm-2" style="font-size: 1.5em"> 
                    <span class="glyphicon glyphicon-upload" style="margin-right:5px;" ></span> ส่งออก
                </button>
            </form>
            <hr style="width: 100%;margin-top: 12%;border-color: black;">
            <br>
            <form action="{% url 'import_script' %}" method="POST" enctype="multipart/form-data" \
                class="form-horizontal" accept-charset="UTF-8" name='import_script'>
                {% csrf_token %}
                <h2 class="col-sm-10" style="margin-top: 0;font-size: 3.5em">นำเข้าสคริป</h2>
                <div class="form-group" >
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label" style="margin-top: 5%">ไฟล์: </label>
                    <div class="col-md-8">
                        <input type="file" name="script_file" id="script_file" required="True" class="form-control" style="margin-top: 10%">
                    </div>                    
                </div>
                <div class="form-group">                    
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                        <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>อัพโหลด </button>
                    </div> 
                </div>
            </form>
            <hr style="width: 100%;margin-top: 6%;border-color: black;">
            <form action="{% url 'reset_teacher' %}" method="post" name="reset_teacher" >
                {% csrf_token %} 
                <h2 class="col-sm-11" style="margin-top: 0;font-size: 3.5em">รีเซ็ตการวัดผล</h2>
                <button class="btn btn-danger col-sm-1" style="font-size: 1.5em"> 
                    <span class="glyphicon glyphicon-remove-sign" style="margin-right:5px;" ></span> 
                </button>
            </form>
        </div>
        <div class="jumbotron" style="padding: 0;padding-top: 0;padding-bottom: 10%">
            <table class="table table-hover" style="margin-top: 50px;background-color:cornsilk">
                <thead>
                <tr style="background-color: slategray;color: aliceblue">
                    {% for col_name in col_de%}
                    <th style="text-align: center"><h4 style="font-size: 2.2em">{{col_name}}</h4></t>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for data in teachers%}
                    <tr>
                        {% for i in data%}
                        <td><h4 style="font-size: 1.2em">{{i}}</h4></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}