{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="container" style="text-align: center"><h1 style="font-size: 6.5em;">แก้ไขโครงงาน</h1></div>
        <div class="jumbotron">
            <p>เลือกโครงงานที่ต้องการแก้ไข</p>
            <form action="{% url 'manage_proj' %}" method="post" id="manage_proj">
                    {% csrf_token %} 
                <select class="select" style="width: 100%;height: 35px;" name="project_edit">
                    <option selected="selected" disabled hidden>เลือกโครงงาน</option>
                    {% for j in proj %}
                        <option value="{{j.proj_name_th}}">{{j.proj_name_th}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <button name="submit_scoreproj" type="submit" class="btn btn-warning" form="manage_proj"><h3>แก้ไขโครงงาน</h3></button>
        <div class="col-xs-10">
            
        </div>
        <div class="container" style="padding: 5%;">

        </div>

    </div>
</div>
{% endblock %}