{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="container" style="text-align: center"><h1 style="font-size: 6.5em;">ตั้งค่าระบบ</h1></div>
        <div class="jumbotron">
            <form action="{% url 'settings' %}" method="post" id="settings">
                {% csrf_token %} 
                <h2>เปิด-ปิดระบบ</h2>
                {% if activated == 1 %}
                <input name="on_off_sys" type="checkbox" checked data-toggle="toggle" data-size="large" data-offstyle="danger">
                {% else %}
                <input name="on_off_sys" type="checkbox" data-toggle="toggle" data-size="large" data-offstyle="danger">
                {% endif %}
                <h2>อนุญาติให้สอบโปรเจคที่</h2>
                {% if proj_act == 1 %}
                <input name="proj_num" type="checkbox" checked data-toggle="toggle" data-size="large"\
                data-on="Project 1" data-off="Project 2" data-onstyle="success" data-offstyle="info">
                {% else %}
                <input name="proj_num" type="checkbox"  data-toggle="toggle" data-size="large"\
                data-on="Project 1" data-off="Project 2" data-onstyle="success" data-offstyle="info">
                {% endif %}
                <h2>load อาจารย์</h2>
                <div class="form-group">
                    <select class="form-control" name="load_tch" style="width: 10%;">
                        <option value="{{load_proj}}" hidden selected="selected">{{load_proj}}</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                    </select>
                </div>
            </form>
            <!-- <form action="{% url 'manage' %}" method="POST" id="reset_form" style="padding-bottom: 50px;">
                {% csrf_token %}
                <h2>RESET ตาราง</h2>
                <div class="row">
                    <div class='col-md-5'>
                        <button type="submit" class="btn btn-danger" form="reset_form" name="reset_gen" value="1"><h4 style="font-size: 2em">Reset</h4></button>
                    </div>
                </div>
            </form> -->
        </div>

        <button name="submit_settings" type="submit" class="btn btn-success" form="settings"><h3>บันทึกการตั้งค่า</h3></button>
        <div class="col-xs-10">
            <!-- <button name="reset_score" type="submit" class="btn btn-danger"><h4>รีเซ็ตผลคะแนน</h4></button> -->
        </div>
    </div>
</div>
{% endblock %}